

  <nav class="navbar navbar-expand navbar-dark bg-primary">
      <span class="navbar-brand text-white"><a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></span>
      <a class="nav-item nav-link text-white" routerLink="menu">Menu</a>
      <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link text-white" routerLink="login"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
          <a class="nav-item nav-link text-white" routerLink="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
  </nav>

