.smsBtnFS,.sms_submitButtonFS
{
    background:#ff0000;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    white-space:nowrap;
    font-size:14px;
    padding:6px 12px;
    border-radius:4px;
    display:inline-block;
}
.smsModalFS p{margin-top:1em;}
.smsModalFS a{float:right; text-decoration:underline; font-size:10px;}
.sms_submitButtonFS{border:none;  padding:5px 10px; color:#fff}
.smsDealerIDFS{display:none}
#smsModalFS label{display:inline-block}.smsPhoneValidFS{color:#ff0000}