.AddressAndPhone2{width:250px; float:left;}
.AddressAndPhone2 .AddressPhone2_Main > span{display:block}
.AddressAndPhone2 .AddressPhone2_Main > p{margin:0}
.AddressAndPhone2 .LabelDealershipName{font-size:1.2em; font-weight:bold;}
.AddressAndPhone2 .LabelPhone1, .AddressAndPhone2 .LabelPhone2, .AddressAndPhone2 .LabelPhone3{font-size:1em; font-weight:bold;}
.AddressAndPhone2 a{color:inherit}