@import url("https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css");

/***** GLOBAL *****/
body {font-family: arial}
a,a:hover {text-decoration: none; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s;}
a:active, a:focus {outline: none; ie-dummy: expression(this.hideFocus=true);}/*Hide IE outline on href*/
a[href^=tel] {color: inherit; text-decoration: none; }
.logo {float:left; margin: 7px 0;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;}
.logo:hover,
.logo:focus,
.logo:active {
    -webkit-transform: scale(1.05) rotate(1deg);
    transform: scale(1.05) rotate(1deg);}
.LabelAddress1:before, .LabelPhone1:before, .LabelPhone2:before, .LabelPhone3:before, .LabelEmail:before, #s54r_menu #siteMenu:after {display: inline-block;font-family: FontAwesome;vertical-align: middle;color: #a60b09;}

h1, h2, h3, h4, h5, h6, p {font-weight: 400; color: #494949;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {outline: none; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s;}
.submitButton,.submitButtonPhone {background: #151515;border: none; cursor: pointer;padding: 6px 29px;border-top: none;border-left: none;border-right: none; color: #f7f7f7;text-transform: uppercase;font-weight: 600;font-size: 15px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin-top: 15px;}
.submitButton:hover,.submitButtonPhone:hover {color: #f7f7f7; border: none;}

/*Social Media*/
.socialMedia {text-align: left; float: left; clear: left; margin: 10px 0}
.socialMedia a {color: #f7f7f7; font-size: 22px;}
.socialMedia a i {padding: 7px; margin: 0 2px; border-radius: 50%; width: 35px; height: 35px; text-align: center;}
.socialMedia a:hover {opacity: .5}
.socialMedia a i.fa-facebook {background: #3b5998}
.socialMedia a i.fa-twitter {background: #55acee}
.socialMedia a i.fa-rss {background: #f26522}
.socialMedia a i.fa-youtube {background: #cd201f}
.socialMedia a i.fa-google-plus {background: #dc4e41}
.socialMedia a i.fa-instagram {background: #fff;color: #000}
.socialMedia a i.fa-yelp {background: #af0606}

.RowIce{display:none;}
.gutter{padding:5px;}


/********** HEADER **********/
.s54r_header {background: rgba(0, 0, 0, 0.85); height: 105px; line-height: 70px;box-shadow: 0 5px 25px 0 rgba(0,0,0,.5);}
/*Social Media*/
.s54r_addressPane .SocialMedia {float: left; clear: left; width: auto;}
.s54r_addressPane .socialMedia {width: auto; margin: 5px auto;}
.s54r_addressPane .socialMedia a {color: #f7f7f7;font-size: 15px;}
.s54r_addressPane .socialMedia a i {padding: 5px; width: 23px; height: 23px; border-radius: 0}
/*Address*/
.s54r_addressPane .AddressAndPhone {float: right; width: auto;padding: 4px 0; color: #fff;}
.AddressPhone_Main {font-family: 'arial';font-size: 14px; text-align: right;}
.AddressPhone_Main span {display: inline-block;}
.AddressAndPhone .LabelAddress1:before {content: "\f041";margin-right: 5px;}
.AddressAndPhone .LabelPhone1:before, .AddressAndPhone .LabelPhone2:before, .AddressAndPhone .LabelPhone3:before {content: "\f095";margin-right: 5px;padding-left: 10px;}
.AddressAndPhone .LabelCityStateZip1 {padding-right: 5px;}
.AddressAndPhone .LabelPhone1, .AddressAndPhone .LabelEmail {border-left: 1px solid #fff;padding-right: 5px;}
/*Menu*/
#s54r_menu {float: right; width: auto; margin: 0;font-weight: bold;
    text-transform: uppercase;}
#s54r_menu .nav>li>a {color: #fff; font-size:14px; padding: 10px; margin: 16px 0; border-radius: 35px;}
#s54r_menu .nav>li>a:hover, #s54r_menu .nav>li>a:active, #s54r_menu .nav>li>a:focus {color: #fff;text-decoration: none;background-color: #a60b09;border-radius: 35px;padding: 10px;}
#s54r_menu .nav .open>a, #s54r_menu .nav .open>a:hover, #s54r_menu .nav .open>a:focus {background-color: #a60b09;}
#s54r_menu .nav .caret {border-top-color: #fff; border-bottom-color: #fff;}
#s54r_menu .navPhone .caret {border-top-color: #fff; border-bottom-color: #fff;}
#s54r_menu .nav a:hover .caret,.nav a:active .caret,.nav a:focus .caret {border-top-color: #fff; border-bottom-color: #fff; }
#s54r_menu .navbar-nav > li {display: inline-block; float: none; }
#s54r_menu .navbar-nav {text-align: right; float: none; }
#s54r_menu .dropdown-menu > li > a {text-align: left; color: #fff}
#s54r_menu .dropdown-menu > li > a:hover {color: #fff;background-color: #a60b09;}
.navbar-nav .dropdown-menu {background-color: rgba(0,0,0,.85); border: none;}


/********** BANNER **********/
.SlidesPane {position: relative; max-height: 800px;}
.SlidesPane .Banner, .SlidesPane .ResponsiveBanner {position: relative; z-index: 0;}
/*Rotating Banner*/
.ResponsiveBanner .item.animated, .Banner .slide
    {background: -webkit-linear-gradient(rgba(0,0,0,0.05) 50%, rgba(0,0,0,.6)65%, rgba(0,0,0,.9)85%);
    background: -o-linear-gradient(rgba(0,0,0,0.05) 50%, rgba(0,0,0,.6)65%, rgba(0,0,0,.9)85%);
    background: -moz-linear-gradient(rgba(0,0,0,0.05) 50%, rgba(0,0,0,.6)65%, rgba(0,0,0,.9)85%);
    background: linear-gradient(rgba(0,0,0,0.05) 50%, rgba(0,0,0,.6)65%, rgba(0,0,0,.9)85%);}
.ResponsiveBanner img, .Banner img {width: 100%; position: relative; z-index: -1;}
.carousel h1 {color: #f7f7f7; text-align: center; padding: 15px; margin: 0; background: rgba(0, 0, 0, .5); bottom: initial; top: 105px;}
.ResponsiveBanner .carousel-indicators {top: initial;bottom: 1em;z-index: 1;}
.ResponsiveBanner .carousel-control i:before {top: 50%;}
.ResponsiveBanner .carousel-control.left i:before, .ResponsiveBanner .carousel-control.right i:before {background: rgba(247, 93, 41, 0.9); border: 1px solid #fff; border-radius: 50%;width: 35px;height: 35px;font-size: 16px;padding: 10px;}
.ResponsiveBanner .carousel-control.right i:before {right: 2em;}
.ResponsiveBanner .carousel-control.left i:before {left: 2em;}
/*CTA Buttons*/
.ctaBtns {position: absolute;text-align: center; bottom: 10%;z-index: 99}
.ctaBtn {font-size: 12px;padding: 20px;}
.ctaBtn .fa {font-size: 6em; color: #f75d29;text-shadow: 1px 1px 0px rgba(255,255,255,.6), -1px 1px 0px rgba(255,255,255,.6), 1px -1px 0px rgba(255,255,255,.6), -1px -1px 0px rgba(255,255,255,.6);}
.ctaBtn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;}
.ctaBtn:hover,
.ctaBtn:focus,
.ctaBtn:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);}
.ctaBtn h3 {font-size: 3em; color: #a60b09; font-weight: bold;text-shadow: 1px 1px 0px rgba(255,255,255,.8); margin: 5px auto 10px;}
.ctaBtn p {color: #fff;font-size: 1.25em;line-height: 1.5em;}
/*Banner Button*/
.dcsBannerBtn {position: absolute;bottom: -60px;font-size: 18px;text-align: center; z-index: 1;}
.dcsBannerBtn a {background: #a60b09; color: #a60b09; font-size: 1em; padding: 15px 30px; border-radius: 30px; margin: 10px auto; box-shadow: 0 0 0 0; border-color: rgba(200,200,200,.1);
    /*-webkit-animation: pulse 1.25s infinite cubic-bezier(0.4, 0, 0.5, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.4, 0, 0.5, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.4, 0, 0.5, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.4, 0, 0.5, 1);*/}
/*@-webkit-keyframes pulse {to {box-shadow: 0 0 5px 30px rgba(255,255,255,0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 5px 30px rgba(255,255,255,0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 5px 30px rgba(255,255,255,0);}}
@keyframes pulse {to {box-shadow: 0 0 5px 30px rgba(255,255,255,0);}}*/
.dcsBannerBtn span {color: #fff;}
.dcsBannerBtn a:hover, .dcsBannerBtn a:hover span {color: #a60b09;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;}
.dcsBannerBtn p {font-size: .7em; color: #fff}


/********** PANE SETTINGS **********/
section {padding: 60px 0;}
h1.dcsTitle, h1.dealerTitle {font-size: 30px; font-family: 'arial'; color: #a60b09; text-transform: uppercase; text-align: center;}
h1.dcsTitle span,h1.dealerTitle span {font-weight: 800;line-height: inherit;}


/********** PANEL 1 - SHOP OPTIONS **********/
#Pane1_wrap {padding: 60px 0 0; position: relative;
    background: #e6a2a2;
    background-image: -webkit-linear-gradient(60deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.40) 20%, rgba(0,0,0,.2) 40%, rgba(0,0,0,.3) 60%, rgba(0,0,0,.6) 80%, rgba(0,0,0,.8) 100%);
    background-image: -moz-linear-gradient(60deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.40) 20%, rgba(0,0,0,.2) 40%, rgba(0,0,0,.3) 60%, rgba(0,0,0,.6) 80%, rgba(0,0,0,.8) 100%);
    background-image: -o-linear-gradient(60deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.40) 20%, rgba(0,0,0,.2) 40%, rgba(0,0,0,.3) 60%, rgba(0,0,0,.6) 80%, rgba(0,0,0,.8) 100%);
    background-image: linear-gradient(60deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.40) 20%, rgba(0,0,0,.2) 40%, rgba(0,0,0,.3) 60%, rgba(0,0,0,.6) 80%, rgba(0,0,0,.8) 100%);
    box-shadow: inset 0 0 100px rgba(0,0,0,.8);
    background-size: 200% 150%;
    animation: background 5s ease infinite;}
@keyframes background {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}}
.s54r_Pane1 {padding-top: 60px}
.s54r_Pane1 h1.dealerTitle, .s54r_Pane1 h1.dcsTitle {color: #fff}
.s54r_Pane1 h2.dealerTitle, .s54r_Pane1 h2.dcsTitle {font-size: 22px; color: #fff}
/*By Price*/
.shopPrice {color: #fff;text-align: center;text-transform: uppercase;}
.priceBox {
    padding: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;}
.priceBox:hover,
.priceBox:focus,
.priceBox:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);}
.priceBtn {
    border:1px solid rgba(255,255,255,.5);
    background: rgba(255,255,255,.1);
    box-shadow: 0px 2px 15px 3px rgba(0,0,0,.4);}
.priceBtn h3 {
    background: rgba(255,255,255,.1);
    color: #fff;
    margin: 0 auto;
    padding: 10px 0;}
.prices {
    display: flex;
    align-items: center;
    min-height: 140px}
.prices p {
    font-size: 30px;
    color: #fff;
    margin: 0 auto;
    padding: 15px 0;}
.prices span {
    display: block;
    font-size: 16px;
    color: #ccc;
    padding: 10px 0}
/*By Type*/
.ResponsiveFilterByType {margin:25px 0 0 0;width: 50%;float: left;color: #fff}
.ResponsiveFilterByType h1 {font-size: 22px;}
.FilterByType_Main li{background:none; margin:10px 50px 0 0;}
.FilterByType_Main img:hover{opacity:0.8;}
.FilterByType_Main li:after {text-align: center; text-transform: uppercase; font-size: 10px; display: block;}
.FilterByType_li1:after {content: "Convertible" }
.FilterByType_li2:after {content: "Coupe" }
.FilterByType_li3:after {content: "Hatchback" }
.FilterByType_li4:after {content: "Sedan" }
.FilterByType_li5:after {content: "Suv" }
.FilterByType_li6:after {content: "Truck" }
.FilterByType_li7:after {content: "Van" }
.FilterByType_li8:after {content: "Wagon" }
/*By Make*/
.ResponsiveMakeList {margin: 25px 0 0 0;width: 49%;float: left;}
.ResponsiveMakeList h1 {font-size:22px;}
a.FilterLink{color:#fff;}
/*Car Cutout*/
.carCutout {padding-top: 50px}


/********** PANEL 2 - INVENTORY **********/
#Pane2_wrap {margin-top: 90px}
#Pane2_wrap .i06r .refineSearch {display: none}
.i06r_vehicle .row {border: none; margin: 1px 1px;}
.btn-primary, .pagerLeft:hover, .pagerRight:hover, .vehicleTitle, .i06r_priceWrap {background: #a60b09;}
.vehicleTitle, .i06r_priceWrap {text-shadow: #000 1px 1px;}
.i06r_image {transition: opacity .5s ease-in-out; opacity: .75}
.i06r_image:hover {opacity: 1}
.i06r_vehicle {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;}
.i06r_vehicle:hover,
.i06r_vehicle:focus,
.i06r_vehicle:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99;}
.seeEntireInv {float: right; width: 100%; text-align: center; background: #a60b09; color: #fff; padding: 10px; margin: 25px auto 5px; border-radius: 20px; font-size: 20px; box-shadow: 0px 2px 5px 1px rgba(0,0,0,.4);}
.seeEntireInv:hover {color: #fff;background: #0f0f0f}
/*Effect*/
.seeEntireInv {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;}
.seeEntireInv:hover,
.seeEntireInv:focus,
.seeEntireInv:active {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);}


/********** PANEL 3 - WELCOME & PROMO **********/
#Pane3_wrap {background: #eaeaea}
#Pane3_wrap .HTMLModule {text-align: center;}
/*Welcome Text*/
.homePage .WelcomeText{float: left; padding:0 10px; width: 49%;}
.homePage .WelcomeText .WelcomeText_Label {font-size: 1.25em;line-height: 1.5em;}
/*Promo Signup*/
.homePage .s54r_Pane3 .HTMLModule {float: right; width: 49%; clear: right}
.homePage .ResponsiveCustomForm {float: right; padding: 10px; width: 49%;}
.promotionText {
    font-size: 1.3em;
    color: #000;
    line-height: 1.5em;}
.homePage .responsiveCustomFormWrap {width: 100%;margin: 0 auto;}
.homePage .responsiveCustomFormWrap fieldset {margin: 10px auto}
.homePage .responsiveCustomFormWrap fieldset label {display: none}
.homePage .responsiveCustomFormWrap fieldset input {padding: 10px;
    background: rgba(235,235,235,.5);
    border: 1px solid #0f0f0f;
    border-radius: 20px;}
.responsiveCustomFormWrap fieldset input::-webkit-input-placeholder {color: #a60b09;opacity: .8;}
.responsiveCustomFormWrap fieldset input::-moz-placeholder {color: #a60b09;opacity: .8;}/* Firefox 18- */
.responsiveCustomFormWrap fieldset input:-moz-placeholder {color: #a60b09;opacity: .8;}/* Firefox 19+ */
.responsiveCustomFormWrap fieldset input:-ms-input-placeholder {color: #a60b09;opacity: .8;}

.rcfNamePanel, .rcfSubmitPanel {text-align: center}
.responsiveCustomFormWrap input[type="submit"] {background: #a60b09; color: #fff;border: none; border-radius: 20px; padding: 10px; font-size: 1.2em;width: 200px;margin: 0px auto 10px;}
.responsiveCustomFormWrap input[type="submit"]:hover {background: #0f0f0f;}



/********** PANEL 4 **********/
#Pane4_wrap {display: none}


/***** PANEL 5 ******/
#Pane5_wrap {display: none}


/***** PANEL 6 - HOURS MAP ******/
#Pane6_wrap {background: #0f0f0f;color: #fff}
.s54r_Pane6 .dcsTitle, .s54r_Pane6 .LabelDealershipName {font-size: 24px; font-family: 'arial'; color: #fff; text-transform: uppercase; margin: 0 auto;}
.s54r_Pane6 .LabelAddress1, .s54r_Pane6 .LabelCityStateZip1, .s54r_Pane6 p, .s54r_Pane6 .HoursOfOperation_Main, .s54r_Pane6 .sendcommentsFormWrapper fieldset label {font-size: 1.25em;line-height: 1.5em;}
.s54r_Pane6 .LabelPhone1 {font-size: 2em; font-weight: normal;color: #a60b09}
.s54r_Pane6 .AddressAndPhone2, .s54r_Pane6 .ResponsiveHoursOfOperation, .s54r_Pane6 .ResponsiveMap {width: 33%;float: left;clear: right;margin: 0 auto; text-align: center}
.s54r_Pane6 .dealerlogos {float: left;}
.s54r_Pane6 .dealerlogos img {max-width: 60%; margin: 15px auto;}
.s54r_Pane6 .responsive-container {margin-top: 20px}
.s54r_Pane6 .getDirections a {background: #a60b09;margin-top: 10px; padding: 5px 10vw;}


/***** PANEL 7 ******/
#Pane7_wrap {display: none}


/***** PANEL 8 ******/
#Pane8_wrap {display: none}


/***** FOOTER ******/
#Footer_wrap {padding: 40px 0 20px;background: #a60b09}
#Footer_wrap .logo {width: 300px}
.FooterNav {float: left;clear: left;width: auto;}
.Copyright,.SEO {float: none; clear: none; width: 33%; text-align: center; margin: 0 auto}
.Copyright {margin-top: 10px}
.footerNav,.footerNav a,.copyright_main,.copyright_main a,.SeoText,.SeoText a {color: #f7f7f7}
/*Social Media*/
#Footer_wrap .SocialMedia {float: right}
#Footer_wrap .socialMedia a i {padding: 5px; width: 23px; height: 23px; border-radius: 0}
#Footer_wrap .socialMedia a, #Footer_wrap .socialMedia a .fa-instagram {color: #fff; font-size: 15px;}
#Footer_wrap .socialMedia a i {padding: 5px; width: 23px; height: 23px; border-radius: 0; background: #0f0f0f}
#Footer_wrap .socialMedia a:hover {opacity: .5}
/*Back to Top*/
.top {position: fixed;bottom: 2em;right: 7px;text-decoration: none;color: #fff;font-size: 12px;padding: 1em;display: none;background: #a60b09}
.top:hover {color: #494949;text-decoration: none; border: 1px solid #0f0f0f;}


/****** LIST PAGES ******/
.s54r_list {background: #fff; min-height: 600px; padding: 20px; margin: 15vh auto 0; border-radius: 10px 10px 0 0}
/*.sortSpacing select {-webkit-appearance: none; border-radius: 0}*/
.detailApplyOnlineLink a, a#carStorySwitch {font-weight: normal;color: #fff}
#myPhotoCarousel .carousel-control {opacity: 1}
.dxpLite .dxp-summary,.dxpLite .dxp-ellip,.fuelEcononmyText,.dxpLite .dxp-current,.topResults,.vehicleTitleWrap a,.vehicleTitleWrap a:visited,.titleWrapPhoneView a,.titleWrapPhoneView a:visited,.dropdownWrap,#panelDetails,#panelOptions,#panelNotes,#panelInquiry,#panelShare {color: #494949}
.ResponsiveInventoryModule1 a:hover {color: #cecece;}
.ResponsiveInventoryModule1 .container,.ResponsiveInventoryModule2 .container,.ResponsiveInventoryDetail1 .container,.ResponsiveInventoryDetail2 .container {width: 100%;}
#contactSwitch,#vehicleHistorySwitch,#ePriceBox2 a,#photosSwitch,#videoSwitch,#detailsSwitch,#optionsSwitch,#notesSwitch,#inquirySwitch,#shareSwitch {color: #f7f7f7}
#searchItemWrap .well-inverse {border: none; padding: 8px; background: #363636; margin-right: 2px;}
.closeLink {background: none}
.highlightRow {background: #0f0f0f}
.detailApplyOnlineLink a, a#carStorySwitch {color:#000;}
.dxpLite .dxp-num {color: #666}
.i06r .i05r_highlight {display: none;}
.highlightRow span {color: #fff;}


/***** TERT PAGES ******/
.s54r_tert {background: #fff; min-height: 600px; padding: 20px; margin: 15vh auto 0; border-radius: 10px 10px 0 0}
.s54r_tert h1.dealerTitle,.s54r_tert h1.dcsTitle {font-weight: bold}
.s54r_tert a:hover {color: #494949}
.ResponsiveCreditApp {background: none;}
.getDirections .btn-black {color: #f7f7f7; clear: left;}

.s54r_tert .AddressAndPhone2, .s54r_tert .ResponsiveHoursOfOperation {width: 33%}
.s54r_tert h1, .s54r_tert h2, .s54r_tert .AddressAndPhone2 .LabelDealershipName {font-size: 22px; font-family: 'arial'; text-align: left; text-transform: uppercase;}
.s54r_tert .AddressAndPhone2 .LabelDealershipName {margin-bottom: 20px}
.s54r_tert .ResponsiveSendComments {width: 66%; float: right}
.s54r_tert .sendcommentsFormWrapper {width: 99%}
.s54r_tert .ResponsiveSendComments .SendComments_Main {width: 630px}
.s54r_tert .ResponsiveHoursOfOperation .dcsTitle {margin-bottom: 0;}
.s54r_tert .ResponsiveMap, .sendCommentsTbl input, .sendComments_comments textarea {width: 99%}
.sendCommentsTbl td {padding: 1px 0}
.s54r_tert .ResponsiveMap {margin-top: 20px; float: left}
.s54r_tert .ResponsiveStaff {width: 100%; float: left;clear: both;margin-top: 40px;}


/***** MEDIA QUERIES ******/
@media (min-width:1200px) {
    #Pane1_wrap {height: 1050px}
}
@media (max-width: 1199px) {
    .carousel h1 {display: none;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .logo {width: 40%; margin: 13px 0}
    #s54r_menu {width: 60%;}
    .AddressPhone_Main {font-size: 14px}
    #s54r_menu .nav > li > a {padding: 10px; margin: 16px 0; font-size: 12px; }

    #Pane1_wrap {height: 980px}
    .FilterByType_Main li{margin: 10px 30px 0 0;}

    .Chat {display: none;}
    .s54r_Pane6 .ResponsiveMap, .s54r_Pane6 .ResponsiveMap iframe {height: 350px}
}
@media (min-width: 768px) and (max-width: 991px) {
    .logo {width: 40%; margin: 18px 0; padding-left: 10px;}
    #s54r_menu {width: 60%;}
    #s54r_menu .nav > li > a {padding: 6px; margin: 20px 0; font-size: 10px; }
    #s54r_menu .nav>li>a:hover, #s54r_menu .nav>li>a:active, #s54r_menu .nav>li>a:focus {padding: 6px}
    .SlidesPane {margin-top: 11.3vh;}
    .ctaBtn {font-size: 10px}

    #Pane1_wrap {height: 1140px}
    .s54r_Pane1.container {width: 720px}
    .FilterByType_Main li{margin: 10px 5px 0 0;}

    .ResponsiveScrollingSpotlight .rspotlightItem:nth-child(5),.ResponsiveScrollingSpotlight .rspotlightItem:last-child {display: none;}
    .ResponsiveScrollingSpotlight .rspotlightItem {width: 25%}
    #Pane6_wrap .ResponsiveTestimonials > span > span {min-height: 300px;}
    .Chat {display: none;}

    .topResults .col-md-6 {width: 100%;}
    .topResults .sortSpacing {float: left !important;}

    .s54r_Pane6 .ResponsiveMap, .s54r_Pane6 .ResponsiveMap iframe {height: 300px}
    .s54r_Pane6 .dcsTitle, .s54r_Pane6 .LabelDealershipName {
        font-size: 20px;}

    .ctaBtn {padding: 10px;}
    .ctaBtns.container {padding: 0 60px;bottom: 15%;}
    .ctaBtn .fa {font-size: 5em;}
    .ctaBtn h3 {font-size: 2em;}

    .ResponsiveBanner .item.animated, .Banner .slide
    {background: -webkit-linear-gradient(rgba(0,0,0,0.05) 40%, rgba(0,0,0,.5)60%, rgba(0,0,0,.95)80%);
    background: -o-linear-gradient(rgba(0,0,0,0.05) 40%, rgba(0,0,0,.5)60%, rgba(0,0,0,.95)80%);
    background: -moz-linear-gradient(rgba(0,0,0,0.05) 40%, rgba(0,0,0,.5)60%, rgba(0,0,0,.95)80%);
    background: linear-gradient(rgba(0,0,0,0.05) 40%, rgba(0,0,0,.5)60%, rgba(0,0,0,.95)80%);}
}
@media (max-width: 992px) {
    .container{max-width: 900px; width: 100%;}
    #s54r_menu .navbar-nav>li > .dropdown-menu {right: 0; left: inherit;}
    .s54r_Pane6 {max-width: 100%}
    .dcsBannerText {display: none}
}
@media (min-width:768px) {

}
@media (max-width:767px) {
    .s54r_header {background: rgba(0,0,0,.95)}
    .container{max-width: 520px;}
    .s54r_header {position: relative; height: inherit;}
    .s54r_header .container {max-width: inherit}
    .s54r_wrapper {padding: 0;}
    .logo {width: 70%; float: none; margin: 10px auto; }

    #s54r_menu  {float: none; width: 100%; text-align: center; border-radius: 0}
    #s54r_menu #siteMenu {background: #a60b09; width: 60%; color: #fff; text-shadow: none; font-size: 16px; text-transform: uppercase; letter-spacing: 3px; padding: 5px;text-align: center; border-radius: 20px;}
    .navbar-collapse.in {overflow: visible; max-height: inherit; }
    #s54r_menu .navPhone {text-align: left; list-style: none; margin: 0; padding: 0;}
    #s54r_menu .navPhone > li {width: 100%; border-bottom: 1px solid #f7f7f7;}
    #s54r_menu .navPhone > li:last-child {border:none;}
    #s54r_menu .navPhone > li a {width: 100%; display: block; padding: 12px 0 12px 20px; color: #f7f7f7; text-transform: uppercase; font-size: 15px;}

    #s54r_menu .visible-xs .dropdown-menu {position: static; float: none; border-radius: 0}
    #s54r_menu .visible-xs .dropdown-backdrop {position: static }
    #s54r_menu .visible-xs .dropdown-menu li {border-bottom: 1px solid #494949; background: none;}
    #s54r_menu .visible-xs .dropdown-menu li:last-child {border: none}
    #s54r_menu .visible-xs .dropdown-menu li a {color: #a60b09; }
    #s54r_menu .visible-xs .dropdown-menu > li > a:hover {background: none;}

    .SlidesPane {max-height: 100%; box-shadow: none;}
    .ResponsiveBanner .item.animated, .Banner .slide {background: none;}
    .SlidesPane .Banner, .SlidesPane .ResponsiveBanner {box-shadow: 0 5px 25px 0 rgba(0,0,0,.5);}

    .dcsBannerBtn {font-size: 22px;bottom: 495px;}
    .dcsBannerBtn a {padding: 7px 25px;}
    .dcsBannerBtn p {font-size: .5em;color: #151515}

    .ctaBtns {position: inherit; padding: 65px 0 25px}
    .ctaBtn {padding: 5px;}
    .ctaBtn h3 {font-size: 2em;}
    .ctaBtn p {color: #151515;}

    #Pane1_wrap {background: #eaeaea;
    background-image: linear-gradient(rgba(255,255,255,0)91%, rgba(255,255,255,1)91%);
    padding: 60px 0}
    .s54r_Pane1 {padding-top: 0px}
    .prices {min-height: 70px}
    .priceBtn h3 {font-size: 18px}
    .prices span {display: inline}
    .carCutout {display: none}

    h1.dcsTitle, h1.dealerTitle {font-size: 24px;}

    #Pane2_wrap {margin-top: 0px}

    .s54r_list,.s54r_tert {border-radius: 0; margin: 20px auto 0; max-width: 100%;}
    #Footer_wrap.container {max-width: 100%;}
    #searchItemWrap .well-inverse {margin: 2px 0; width: 100%;}
    #searchItemWrap .well-inverse input {float: right;}
    .btn.btn-black.removeBTN {margin: 0}
    .detailApplyOnlineLink {margin: 10px 0}

    .s54r_addressPane .SocialMedia, .s54r_addressPane .socialMedia,  .s54r_addressPane .AddressAndPhone, .s54r_addressPane .AddressPhone_Main {float: none; clear: both; text-align: center}

    .homePage .WelcomeText, .homePage .s54r_Pane2 .HTMLModule:first-child, .homePage .ResponsiveSearch {width: 100%; padding: 0 30px;}
    .homePage .s54r_Pane3 .HTMLModule {width: 100%; margin: 30px 0 0}
    .homePage .ResponsiveCustomForm {width: 100%;}

    .s54r_Pane5 .dropdownWrap {display: none}

    .s54r_Pane6 .ResponsiveMap, .s54r_Pane6 .ResponsiveMap iframe {
    height: 70px;}

    .s54r_Pane6 .AddressAndPhone2, .s54r_Pane6 .ResponsiveHoursOfOperation, .s54r_Pane6 .ResponsiveMap {
    width: 100%;margin-top: 30px;}

    #Footer_wrap .SocialMedia, #Footer_wrap .socialMedia, #Footer_wrap .FooterNav, #Footer_wrap .Copyright, #Footer_wrap .SEO {width: 100%;text-align: center;float: none;clear: both;}

    .s54r_tert .AddressAndPhone2, .s54r_tert .ResponsiveSendComments, .s54r_tert .ResponsiveHoursOfOperation {width: 100%;float: none;clear: both;margin-top: 30px}
    a#carStorySwitch, .detailApplyOnlineLink a{color:#fff;}

    .homePage .responsiveCustomFormWrap {width: 100%;}

    .s54r_Pane1 h2 {text-align: center;}
    .ResponsiveFilterByType, .ResponsiveMakeList {margin:15px 0 0 0;width: 100%;float: none;}
    .FilterByType_Main{text-align:center;}
    .FilterByType_Main li{margin: 10px 4px 0 0;}
}
@media (max-width:480px) {
    h1.dcsTitle, h1.dealerTitle {font-size: 24px;}
    .container{max-width: 300px;}
    .s54r_list,.s54r_tert {max-width: 100%;}
    .logo {width: 90% }
    .dcsBannerBtn {font-size: 20px; bottom: 570px;}
    .dcsBannerBtn a {padding: 7px 25px;}
    .dcsBannerBtn p {font-size: .5em;}

    #Pane1_wrap {background: #eaeaea;
    background-image: linear-gradient(rgba(255,255,255,0)94%, rgba(255,255,255,1)94%);}

    .ResponsiveSearch fieldset select, .ResponsiveSearch input[type="submit"], .ResponsiveSearch input {height: 30px;}
    .FilterByType_Main li {width: 48%;}
    .searchEntireInv {width: 100%;}
}
