/* SMS PULSE ANIMATION*/
/* div[class^='SMSTexting'] a.smsBtnFS.btn, a.smsBtn, a.smsBtnList.btn, a.smsBtnDetail.btn, a.smsBtn.smsBtnList, a.smsBtn.smsBtnDetail, a.smsBtnListPh, a.smsBtn.smsBtnListPh, a.smsBtn.smsBtnListTab, .smsModalFS.modal input.sms_submitButtonFS, .smsModal.modal input.sms_submitButton {
    -webkit-animation: smsPulse 2s infinite;
    animation: smsPulse 2s infinite;}
@-webkit-keyframes smsPulse {
    from {filter: brightness(75%);box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1);}
    50% {filter: brightness(100%);box-shadow: 0px 0px 10px 3px rgba(0,0,0,.4);}
    to {filter: brightness(75%);box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1);} }
@keyframes smsPulse {
    from {filter: brightness(75%);box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1);}
    50% {filter: brightness(100%);box-shadow: 0px 0px 10px 3px rgba(0,0,0,.4);}
    to {filter: brightness(75%);box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1);}
}
@media (max-width: 767px) {
	a.smsBtn.smsBtnList, a.smsBtn.smsBtnListPh {
		-webkit-animation: none;
		animation: none;}
} */


/* SMS GLOBAL */
.SMSTexting, .SMSTextingR {text-align:center;}
div[class^='SMSTexting'] a.smsBtnFS {position: fixed; bottom: 0; right: 75px; font-size:20px; margin: 0 auto; padding: 6px 12px; border-radius: 5px 5px 0 0; box-shadow: 0px -1px 10px 3px rgba(0,0,0,.5); z-index: 9999;}
.smsBtnDetailFS i {font-size: 1.2em;}
.SMSTexting .smsBtnFS i {display: inline;}
.smsBtn, .smsBtnFS, a.smsBtnList, .sms_submitButton, .sms_submitButtonFS {background: #ff0000;color: #fff;}
.smsBtn, .smsBtnFS, a.smsBtnList, .sms_submitButton, .sms_submitButtonFS, .smsBtnDetail {white-space: normal;}
a.smsBtn:hover, a.smsBtnList:hover, a.smsBtn.smsBtnList:hover, a.smsBtnDetail:hover, a.smsBtnListPh:hover, a.smsBtnListTab:hover,
a.smsBtn:active, a.smsBtnList:active, a.smsBtn.smsBtnList:active, a.smsBtnDetail:active, a.smsBtnListPh:active, a.smsBtnListTab:active,
a.smsBtn:focus, a.smsBtnList:focus,  a.smsBtn.smsBtnList:focus, a.smsBtnDetail:focus, a.smsBtnListPh:focus, a.smsBtnListTab:focus {color: #fff;
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
    -webkit-animation: none;
    animation: none;}


/* SMS MODAL */
.smsModalFS, .smsModal {z-index: 10000;}
.smsModalFS .modal-header, .smsModal .modal-header {background: #333; color: #fff; border-radius: 4px 4px 0 0;}
.smsModalFS h4, .smsModal h4, .smsModalFS .close, .smsModal .close {color: #fff; opacity: .9; display: inline;}
.smsModalFS .modal-body, .smsModal .modal-body {color: rgba(0,0,0,.5)}
.smsModalFS p, .smsModal p {color: #333; font-size: 14px;}
.smsModalFS input.sms_submitButtonFS, .smsModal input.sms_submitButton {background: #ff0000; color: #fff; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 15px; text-transform: uppercase; border: none;}
/* NON-RESPONSIVE SMS MODAL */
.smsOverlay, .smsOverlayFS {z-index: 999;}
.ui-widget.ui-draggable {z-index: 1000;}
.ui-draggable .ui-dialog-titlebar {background: #333; color: #fff;}
.smsModalFS.ui-widget-content input.sms_submitButtonFS, .smsModal.ui-widget-content input.sms_submitButton {font-size: 12px; border: none;}


/* SMS STYLE 1 */
div[class^='SMSTexting'] .smsBtnFS.btn {
    border-radius: 2px 2px 0 0;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    padding: 9px 5px 9px 60px;
    text-decoration: none;
    line-height: 1;
    background: #ff0000;
}
div[class^='SMSTexting'] .smsBtnFS.btn .icon {
    border-right: 1px solid #eaeaea;
    position: absolute;
    left: 0;
    text-align: center;
    top: 50%;
    transition: all 300ms ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 48px;
    height: 70%;
    display: block;
}
div[class^='SMSTexting'] .smsBtnFS.btn .icon i {
    position: relative;
    top: 55%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    padding: 0px;
    display: block;
}
div[class^='SMSTexting'] .smsBtnFS.btn .btn-content {
    font-size: 1em;
    line-height: 1.2;
    padding: 0 5px 0 0;
    position: relative;
    left: 0;
    transition: left 300ms ease;
    display: block;
    text-align: left;
}
div[class^='SMSTexting'] .smsBtnFS.btn:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 300ms ease;
}
div[class^='SMSTexting'] .smsBtnFS.btn:hover, div[class^='SMSTexting'] .smsBtnFS.btn:active, div[class^='SMSTexting'] .smsBtnFS.btn:focus {
    background: #333;
    -webkit-animation: none;
    animation: none;
}
div[class^='SMSTexting'] .smsBtnFS.btn:hover .btn-content, div[class^='SMSTexting'] .smsBtnFS.btn:active .btn-content, div[class^='SMSTexting'] .smsBtnFS.btn:focus .btn-content {
    left : 110%;
}
div[class^='SMSTexting'] .smsBtnFS.btn:hover .icon, div[class^='SMSTexting'] .smsBtnFS.btn:active .icon, div[class^='SMSTexting'] .smsBtnFS.btn:focus .icon {
    border-right: 0;
    font-size: 1.8em;
    width: 100%;
}
div[class^='SMSTexting'] .smsBtnFS.btn:hover:after,
div[class^='SMSTexting'] .smsBtnFS.btn:active:after
div[class^='SMSTexting'] .smsBtnFS.btn:focus:after {
    opacity: .2;
}


/* SMS WEBSITE STYLE SPECIFIC */
/*s59r*/
.s59r_list a.smsBtn, .s59r_list a.smsBtnList, .s59r_list a.smsBtnDetail,  .s59r_list a.smsBtnListPh {background: none; color: #ff0000; border: 1px solid #ff0000;
    -webkit-animation: glow 1.25s infinite cubic-bezier(0.4, 0, 0.5, 1);
    animation: glow 1.25s infinite cubic-bezier(0.4, 0, 0.5, 1);}
@-webkit-keyframes glow {
    to {box-shadow: 0 0 10px 5px rgba(255,255,255,0);}}
@keyframes glow {
    to {box-shadow: 0 0 10px 5px rgba(255,255,255,0);}}
.s59r_list a.smsBtn:hover, .s59r_list a.smsBtnList:hover, .s59r_list a.smsBtnDetail:hover, .s59r_list a.smsBtnListPh:hover,
.s59r_list a.smsBtn:active, .s59r_list a.smsBtnList:active, .s59r_list a.smsBtnDetail:active, .s59r_list a.smsBtnListPh:active,
.s59r_list a.smsBtn:focus, .s59r_list a.smsBtnList:focus, .s59r_list a.smsBtnDetail:focus, .s59r_list a.smsBtnListPh:focus {background: #ff0000; color: #fff;}
/*i04r*/
.i04r a.smsBtn, .i04r a.smsBtnList {padding: 5px 15px; border-radius: 5px;}
/*10r*/
